@font-face {
    font-family: "Raleway";
    src: url();
    font-weight: normal;
    font-style: normal;
}


@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


body {
    font-family: 'Raleway', 'Arial', 'sans-serif';
    color:black;
}
/* Header */

header {
    display: flex;
    justify-content: space-between;
}

header h1{
    font-size: 1em;

}

header p {
    margin-top: -4px;
    font-size: 0.9em;
}

#logo {
    margin-top: 15px;
}

#logo img {
    width: 90px;
    height: auto;
    margin-bottom: 20px;
}
#logo h1 {

}

#logo p {
    margin-bottom: 20px;
    margin-left: 0px;
}

nav {
    margin-top: 15px;
}

nav ul {
    list-style: none;
    display: flex;
}
nav li {
    margin-right: 15px;
}

nav a {
    font-size: 1em;
    color:black;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 35px;
    text-decoration: none;
}

nav a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

/* Barre de recherche */

#barre-recherche {
    display:flex;
    border-radius: 10px;
}

input {
    border:1px solid #F2F2F2;
    height: 33px;
    outline: none;
    text-align: center;
}

input:target{
    background-color: #555;
    }

.bouton-rechercher {
    display:block;
    line-height:30px;
    text-align:center;
    background-color: #0065FC;
    color:white;
    border-radius: 0 7px 7px 0px;
    padding:3px 8px 0px 8px;
    text-decoration: none;
    font-size: 1em;

}

.bouton-rechercher a {
    text-align: center;
}

.fa-map-marker-alt {
    text-align: center;
    background-color:#F2F2F2 ;
    border-radius: 8px 0 0px 8px;
    text-align: center;
    padding:10px 8px 5px 10px;
    font-size:0.9em ;
}


/* Filtres */

#filtres {
    display:flex;
    margin-top: 30px;
}

#filtres h2 {
    margin-left: 10px;
    margin-right: 30px;
}

.iconfiltres {
    display:inline-block;
    
    border-radius: 60px;
    border-top: 2px solid #d1cece;
    border-right: 2px solid #d1cece;
    border-bottom: 2px solid #d1cece;
    border-left:none;
    
    font-weight: 0.9em;
    font-size: 1em;
    padding: 0.6em;
    padding-left: 0;

    margin-bottom: 10px;
    margin-right: 20px;
    color:black;
    
}

.iconfiltres:hover {
    background-color:#cfe0f7;
    color:white;
    border:none;
    -webkit-transform:scale(1.08); /* Safari et Chrome */
    -moz-transform:scale(1.08); /* Firefox */
    -ms-transform:scale(1.08); /* Internet Explorer 9 */
    -o-transform:scale(1.08); /* Opera */
    transform:scale(1.08);
}

.filtrestxt {
    text-align:center;
    font-size: 1em;
    padding:5px;
    font-weight: bold;
}

.filtresmoney {
    border-radius: 50%;
    background: #DEEBFF;
    padding:13px 9px 13px 12px;
    margin-right: 4px;
    color:#0065FC;
    
}

.filtreschild {
    border-radius: 50%;
    background: #DEEBFF;
    padding:12px 10px 11px 13px;
    margin-right: 4px;
    color:#0065FC;
}

.filtresheart {
    border-radius: 50%;
    background: #DEEBFF;
    padding:13px 10px 11px 12px;
    margin-right: 4px;
    color:#0065FC;
}

.filtresdog {
    border-radius: 50%;
    background: #DEEBFF;
    padding:12px 10px 11px 12px;
    margin-right: 4px;
    color:#0065FC;
}

#infovilles {
    display:flex;   
}

.iconinfo {
    border-radius: 50%;
    border: 2px solid #DEEBFF;
    color:#0065FC;
    margin-left: 10px;
    margin-top: 13px;
    padding:5px 10px 8px 10px;
    font-size: 0.8em;
    height: 10px;

}

#infovilles p {
    margin-top: 17px;
    margin-left: 15px;
}

/* Style général */

a {
    text-decoration: none;
}

h1{
    font-size: 1.2em;
}

h2 {
    font-size: 0.9em;
    font-style: oblique;
    color:black;
}

section {
    display: flex;
    justify-content:space-around;
}

#bloc-page {
    width:auto;
    margin-right: 30px;
    margin-left: 30px;
}

/* Hébergement Marseille + Les plus populaires */

#hebergement-marseille {
    margin-top: 25px;
    border-radius:15px;
    width: 65%;
    height: auto;
    background-color: #F2F2F2;
    padding:30px 20px 35px 20px;

}
#hebergement-marseille h1 {
    padding-bottom: 5px;
    padding-left: 7px;
    text-align: left;
    margin-left: 25px;
}

#hebergement-marseille h2 {
    font-size: 1em;
    padding-top: 10px;
}

#hebergement-marseille p {
    list-style: none;
    color:black;
}

#vignettes1 {
    display:flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

#vignettes2 {
    display:flex;
    justify-content: space-around;
}

#cannebiere {
    width:28%;
    height: 220px;
    border-radius: 25px;
    background-color: white;
    padding:5px 5px 5px 5px;
    margin:5px;
    box-shadow:10px 8px 10px rgb(189, 187, 187) ;
}

#cannebiere:hover {
    -webkit-transform:scale(1.08); /* Safari et Chrome */
    -moz-transform:scale(1.08); /* Firefox */
    -ms-transform:scale(1.08); /* Internet Explorer 9 */
    -o-transform:scale(1.08); /* Opera */
    transform:scale(1.08);
}
#cannebiere h2, p, #lot-quatre-etoiles {
    margin:5px 5px 5px 10px; 
}

#cannebiere img {
    width:100%;
    height:59%;
    display:block;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#hotelport {
    width:28%;;
    height: 220px;
    border-radius: 25px;
    background-color: white;
    padding:5px;
    margin:5px;
    box-shadow:10px 8px 10px rgb(189, 187, 187) ;
}

#hotelport:hover {
    -webkit-transform:scale(1.08); /* Safari et Chrome */
    -moz-transform:scale(1.08); /* Firefox */
    -ms-transform:scale(1.08); /* Internet Explorer 9 */
    -o-transform:scale(1.08); /* Opera */
    transform:scale(1.08);
}

#hotelport h2, p, #lot-cinq-etoiles {
    margin:5px 5px 5px 10px; 
}

#hotelport img {
    width:100%;
    height:59%;
    display:block;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#hotelmouettes {
    width:28%;
    height: 220px;
    border-radius: 25px;
    background-color: white;
    padding:5px;
    margin:5px;
    box-shadow:10px 8px 10px rgb(189, 187, 187) ;
}

#hotelmouettes:hover {
    -webkit-transform:scale(1.08); /* Safari et Chrome */
    -moz-transform:scale(1.08); /* Firefox */
    -ms-transform:scale(1.08); /* Internet Explorer 9 */
    -o-transform:scale(1.08); /* Opera */
    transform:scale(1.08);
}

#hotelmouettes img {
    width:100%;
    height:59%;
    display:block;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#hotelmouettes h2, p, #lot-quatre-etoiles {
    margin:5px 5px 5px 10px; 
}

#hotelmer {
    width:28%;
    height: 220px;
    border-radius: 25px;
    background-color: white;
    padding:5px;
    margin:5px;
    box-shadow:10px 8px 10px rgb(189, 187, 187) ;
}

#hotelmer:hover {
    -webkit-transform:scale(1.08); /* Safari et Chrome */
    -moz-transform:scale(1.08); /* Firefox */
    -ms-transform:scale(1.08); /* Internet Explorer 9 */
    -o-transform:scale(1.08); /* Opera */
    transform:scale(1.08);
}

#hotelmer img {
    width:100%;
    height:59%;
    display:block;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#hotelmer h2, p, #lot-trois-etoiles {
    margin:5px 5px 5px 10px; 
}

#aubergepanier {
    width:28%;;
    height: 220px;
    border-radius: 25px;
    background-color: white;
    padding:5px;
    margin:5px;
    box-shadow:10px 8px 10px rgb(189, 187, 187) ; 
}

#aubergepanier:hover {
    -webkit-transform:scale(1.08); /* Safari et Chrome */
    -moz-transform:scale(1.08); /* Firefox */
    -ms-transform:scale(1.08); /* Internet Explorer 9 */
    -o-transform:scale(1.08); /* Opera */
    transform:scale(1.08);
}

#aubergepanier img {
    width:100%;
    height:59%;
    display:block;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#aubergepanier h2, p, #lot-quatre-etoiles {
    margin:5px 5px 5px 10px; 
}

#hotelamina {
    width:28%;;
    height:220px;
    border-radius: 25px;
    background-color: white;
    padding:5px;
    margin:5px;
    box-shadow:10px 8px 10px rgb(189, 187, 187) ; 
}

#hotelamina:hover {
    -webkit-transform:scale(1.08); /* Safari et Chrome */
    -moz-transform:scale(1.08); /* Firefox */
    -ms-transform:scale(1.08); /* Internet Explorer 9 */
    -o-transform:scale(1.08); /* Opera */
    transform:scale(1.08);
}

#hotelamina img {
    width:100%;
    height:59%;
    display:block;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#hotelamina h2 ,p ,#lot-cinq-etoiles {
    margin:5px 5px 5px 10px; 
}

.troisetoiles {
    color:#0065FC;
}

.etoilegrise {
    color:#d8d7d7;
}

.fa-star {
    margin-right: 3px;
}

#lot-quatre-etoiles {
    display:flex;
    font-size: 0.9em;
    color:#0065FC;
}

#lot-cinq-etoiles {
    display:flex;
    font-size:0.9em;
    color:#0065FC;
}

#afficherplus {
    font-size: 1.2em;
    margin-left: 25px;
    margin-top: 10px;
    text-align: left;
}

aside {
        width: 25%;
        background-color: #F2F2F2;
        padding:10px;
        border-radius: 15px;
        margin-top: 25px;
 }

 #lespluspopulaires {
    position: relative;
 }

 aside #lespluspopulaires h1 {
    padding-bottom: 5px;
    padding-left: 7px;

    margin-top: 40px;
 }
 
 #lespluspopulaires h2 {
    font-size: 1em;
    padding-top: 10px;
}

#lespluspopulaires p {
    list-style: none;
    color:black;
}

 .histo {
     position: absolute;
     top: 57%;
     right: 5%;
     
 }
 
 #vignettespop {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;;
    
}

#hotelsoleil {
    width:90%;
    height:150px;
    border-radius: 25px;
    background-color: white;
    padding:5px;
    margin-bottom: 25px;
    box-shadow:10px 8px 10px rgb(189, 187, 187) ; 
}

#hotelsoleil img {
    width:40%;
    height:100%;
    float: left;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
#hotelsoleil h2, p, #lot-cinq-etoiles {
    margin:5px 15px 5px 25px; 
}

#chambrecoeur {
    width:90%;
    height:150px;
    border-radius: 25px;
    background-color: white;
    padding:5px;
    margin-bottom: 25px;
    box-shadow:10px 8px 10px rgb(189, 187, 187) ; 
}

#chambrecoeur img {
    width:40%;
    height:100%;
    float: left;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#hotelbleublanc {
    width:90%;
    height:150px;
    border-radius: 25px;
    background-color: white;
    padding:5px;
    margin-bottom: 25px;
    box-shadow:10px 8px 10px rgb(189, 187, 187) ; 
}

#hotelbleublanc img {
    width:40%;
    height:100%;
    float: left;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}


 /* Activités Marseille */ 

 #activites-marseille {
    margin-top: 25px;
    border-radius:15px;
    width: 95%;
    height: auto;
    background-color: #F2F2F2;
    padding:30px 20px 200px 20px;

}
