@font-face {
    font-family: "Raleway";
    src: url();
    font-weight: normal;
    font-style: normal;
}


@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

html {
    width: 100%;
    margin:0 ;
    max-width: 1920px;
}

body {
    font-family: 'Raleway', 'Arial', 'sans-serif';
    color:black;
    margin: 0;
    max-width: 100%;
}

/* Style général */

a {
    text-decoration: none;
}

h2{
    font-size: 1.2em;
}

h3 {
    font-size: 0.9em;
    font-style: oblique;
    color:black;
}

section {
    display: flex;
    justify-content:space-around;
}

/*
#bloc-page {
    width:100%;
    max-width: 1920px;
   
}
*/

/* Header */

header {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

header h1{
    font-size: 1em;

}

header p {
    margin-top: -4px;
    font-size: 0.9em;
}

#logo {
    margin-top: 15px;
}

#logo img {
    width: 90px;
    height: auto;
    margin-bottom: 20px;
}

#logo p {
    margin-bottom: 20px;
    margin-left: 0px;
}

nav {
    margin-top: 25px;
}

nav ul {
    list-style: none;
    display: flex;
}
nav li {
    margin-right: 15px;
}

nav a {
    font-size: 1em;
    color:black;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 35px;
    text-decoration: none;
}

.sinscrire {
    color:#0065FC;
    font-weight: bold;
}

nav a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
    transition: all .10s ease;
}

/* Barre de recherche */

#barre-recherche {
    display:flex;
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
}

#barre-recherche input {
    border:1px solid #F2F2F2;
    height: 33px;
    outline: none;
    text-align: center;
}

#barre-recherche input:target{
    background-color: #555;
    }

.bouton-rechercher {
    display:block;
    line-height:30px;
    text-align:center;
    background-color: #0065FC;
    color:white;
    border-radius: 0 7px 7px 0px;
    padding:3px 8px 0px 8px;
    text-decoration: none;
    font-size: 1em;

}

.bouton-rechercher a {
    text-align: center;
}

.fa-map-marker-alt {
    text-align: center;
    background-color:#F2F2F2 ;
    border-radius: 8px 0 0px 8px;
    text-align: center;
    padding:10px 8px 5px 10px;
    font-size:0.9em ;
}


/* Filtres */

#filtres {
    display:flex;
    padding:30px 20px 0 20px;
    width: 90%;
    margin: 0 auto;
}

#filtres h3 {
    margin-left: 10px;
    margin-right: 30px;
}

.iconfiltres {
    display:inline-block;
    
    border-radius: 60px;
    border-top: 2px solid #d1cece;
    border-right: 2px solid #d1cece;
    border-bottom: 2px solid #d1cece;
    border-left:none;
    
    font-weight: 0.9em;
    font-size: 1em;
    padding: 0.6em;
    padding-left: 0;

    margin-bottom: 10px;
    margin-right: 20px;
    color:black;
    
}

.iconfiltres:hover {
    background-color:#cfe0f7;
    color:white;
    border:none;
    -webkit-transform:scale(1.08); /* Safari et Chrome */
    -moz-transform:scale(1.08); /* Firefox */
    -ms-transform:scale(1.08); /* Internet Explorer 9 */
    -o-transform:scale(1.08); /* Opera */
    transform:scale(1.08);
    transition: all .25s ease;
}

.filtrestxt {
    text-align:center;
    font-size: 1em;
    padding:5px;
    font-weight: bold;
}

.filtresmoney {
    border-radius: 50%;
    background: #DEEBFF;
    padding:13px 9px 13px 12px;
    margin-right: 4px;
    color:#0065FC;
    
}

.filtreschild {
    border-radius: 50%;
    background: #DEEBFF;
    padding:12px 10px 11px 13px;
    margin-right: 4px;
    color:#0065FC;
}

.filtresheart {
    border-radius: 50%;
    background: #DEEBFF;
    padding:13px 10px 11px 12px;
    margin-right: 4px;
    color:#0065FC;
}

.filtresdog {
    border-radius: 50%;
    background: #DEEBFF;
    padding:12px 10px 11px 12px;
    margin-right: 4px;
    color:#0065FC;
}

#infovilles {
    display:flex;   
    padding:0 20px 0 20px;
    width: 90%;
    margin: 0 auto;
}

.iconinfo {
    border-radius: 50%;
    border: 2px solid #DEEBFF;
    color:#0065FC;
    margin-left: 10px;
    margin-top: 13px;
    padding:5px 10px 8px 10px;
    font-size: 0.8em;
    height: 10px;
}

#infovilles p {
    margin-top: 17px;
    margin-left: 15px;
}


/* Hébergement Marseille + Les plus populaires */

#First {
    width: 90%;
    margin:auto;
}

#hebergement-marseille {
    margin-top: 25px;
    border-radius:15px;
    width: 65%;
    height: auto;
    background-color: #F2F2F2;
    padding:30px 20px 35px 20px;
}

#hebergement-marseille a {
    text-decoration:none; 

}

#hebergement-marseille h2 {
    padding-bottom: 5px;
    padding-left: 7px;
    text-align: left;
    margin-left: 25px;
}

#hebergement-marseille h3 {
    font-size: 1em;
}

#hebergement-marseille p {
    color:black;
}

#vignettes {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

/* #vignettes1 {
    display:flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

#vignettes2 {
    display:flex;
    justify-content: space-around;
} */

.info-hebergement {
    
    margin-left: 10px;
    padding-top: 8px;
    line-height: 5px;
}

#cannebiere {
    width:28%;
    height: 220px;
    border-radius: 25px;
    background-color: white;
    padding:5px;
    margin: 10px 0 25px 0;
    box-shadow:10px 8px 10px rgb(189, 187, 187) ;
}

#cannebiere:hover {
    -webkit-transform:scale(1.08); /* Safari et Chrome */
    -moz-transform:scale(1.08); /* Firefox */
    -ms-transform:scale(1.08); /* Internet Explorer 9 */
    -o-transform:scale(1.08); /* Opera */
    transform:scale(1.08);
    transition: all .25s ease;
}

#cannebiere img {
    width:100%;
    height:59%;
    display:block;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#hotelport {
    width:28%;;
    height: 220px;
    border-radius: 25px;
    background-color: white;
    padding:5px;
    margin:5px;
    box-shadow:10px 8px 10px rgb(189, 187, 187) ;
}

#hotelport:hover {
    -webkit-transform:scale(1.08); /* Safari et Chrome */
    -moz-transform:scale(1.08); /* Firefox */
    -ms-transform:scale(1.08); /* Internet Explorer 9 */
    -o-transform:scale(1.08); /* Opera */
    transform:scale(1.08);
    transition: all .25s ease;
}

#hotelport img {
    width:100%;
    height:59%;
    display:block;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#hotelmouettes {
    width:28%;
    height: 220px;
    border-radius: 25px;
    background-color: white;
    padding:5px;
    margin:5px;
    box-shadow:10px 8px 10px rgb(189, 187, 187) ;
}

#hotelmouettes:hover {
    -webkit-transform:scale(1.08); /* Safari et Chrome */
    -moz-transform:scale(1.08); /* Firefox */
    -ms-transform:scale(1.08); /* Internet Explorer 9 */
    -o-transform:scale(1.08); /* Opera */
    transform:scale(1.08);
    transition: all .25s ease;
}

#hotelmouettes img {
    width:100%;
    height:59%;
    display:block;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#hotelmer {
    width:28%;
    height: 220px;
    border-radius: 25px;
    background-color: white;
    padding:5px;
    margin:5px;
    box-shadow:10px 8px 10px rgb(189, 187, 187) ;
}

#hotelmer:hover {
    -webkit-transform:scale(1.08); /* Safari et Chrome */
    -moz-transform:scale(1.08); /* Firefox */
    -ms-transform:scale(1.08); /* Internet Explorer 9 */
    -o-transform:scale(1.08); /* Opera */
    transform:scale(1.08);
    transition: all .25s ease;
}

#hotelmer img {
    width:100%;
    height:59%;
    display:block;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#aubergepanier {
    width:28%;;
    height: 220px;
    border-radius: 25px;
    background-color: white;
    padding:5px;
    margin:5px;
    box-shadow:10px 8px 10px rgb(189, 187, 187) ; 
}

#aubergepanier:hover {
    -webkit-transform:scale(1.08); /* Safari et Chrome */
    -moz-transform:scale(1.08); /* Firefox */
    -ms-transform:scale(1.08); /* Internet Explorer 9 */
    -o-transform:scale(1.08); /* Opera */
    transform:scale(1.08);
    transition: all .25s ease;
}

#aubergepanier img {
    width:100%;
    height:59%;
    display:block;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#hotelamina {
    width:28%;;
    height:220px;
    border-radius: 25px;
    background-color: white;
    padding:5px;
    margin:5px;
    box-shadow:10px 8px 10px rgb(189, 187, 187) ; 
}

#hotelamina:hover {
    -webkit-transform:scale(1.08); /* Safari et Chrome */
    -moz-transform:scale(1.08); /* Firefox */
    -ms-transform:scale(1.08); /* Internet Explorer 9 */
    -o-transform:scale(1.08); /* Opera */
    transform:scale(1.08);
    transition: all .25s ease;

}

#hotelamina img {
    width:100%;
    height:59%;
    display:block;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/* Styles des étoiles de notation */

.stars i {
    color:#d8d7d7;
    margin-right: 0px;
    font-size: 0.9em;
}

.stars.stars-5 i {
    color:#0065FC;
}

.stars.stars-1 i:nth-child(1){
    color: #0065FC;
}

.stars.stars-2 i:nth-child(1), 
.stars.stars-2 i:nth-child(2),{
    color: #0065FC;
}

.stars.stars-3 i:nth-child(1), 
.stars.stars-3 i:nth-child(2), 
.stars.stars-3 i:nth-child(3){
    color:#0065FC;
}

.stars.stars-4 i:nth-child(1), 
.stars.stars-4 i:nth-child(2), 
.stars.stars-4 i:nth-child(3), 
.stars.stars-4 i:nth-child(4){
    color:#0065FC;
}

/* Lien afficher plus en dessous de Hébergement à Marseille */

#afficherplus {
    font-size: 1.2em;
    margin-left: 25px;
    margin-top: 10px;
    text-align: left;
}

/* Aside, les plus populaires */

 #lespluspopulaires {
    width: 27%;
    background-color: #F2F2F2;
    padding:10px;
    border-radius: 15px;
    margin-top: 25px;
    position: relative;
    margin-left: 15px;
 }

#lespluspopulaires h2 {
    padding-bottom: 5px;
    padding-left: 15px;
    margin-top: 40px;
 }
 
 #lespluspopulaires h3 {
    font-size: 1em;
}

 .histo {
     position: absolute;
     top: 8%;
     right: 8%;
 }
 
 .info-populaires {
    color:black;
    padding-left: 25px;
    margin:2px 5px 5px 10px;
    
   
}

.info-populaires p {
    font-size: 0.9em;
    line-height: 0px;
}

.info-populaires .stars {
    margin-top: 50px ;
}

 #vignettespop {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#hotelsoleil {
    width:90%;
    height:150px;
    border-radius: 25px;
    background-color: white;
    padding:5px;
    box-shadow:10px 8px 10px rgb(189, 187, 187) ; 
}

#hotelsoleil img {
    width:40%;
    height:100%;
    float: left;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-right: 10px;
}

#hotelsoleil:hover {
    -webkit-transform:scale(1.08); /* Safari et Chrome */
    -moz-transform:scale(1.08); /* Firefox */
    -ms-transform:scale(1.08); /* Internet Explorer 9 */
    -o-transform:scale(1.08); /* Opera */
    transform:scale(1.08);
    transition: all .25s ease;
}

#chambrecoeur {
    width:90%;
    height:150px;
    border-radius: 25px;
    background-color: white;
    padding:5px;
    margin-top: 40px;
    box-shadow:10px 8px 10px rgb(189, 187, 187) ; 
}

#chambrecoeur img {
    width:40%;
    height:100%;
    float: left;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-right: 10px;
}

#chambrecoeur:hover {
    -webkit-transform:scale(1.08); /* Safari et Chrome */
    -moz-transform:scale(1.08); /* Firefox */
    -ms-transform:scale(1.08); /* Internet Explorer 9 */
    -o-transform:scale(1.08); /* Opera */
    transform:scale(1.08);
    transition: all .25s ease;
}

#hotelbleublanc {
    width:90%;
    height:150px;
    border-radius: 25px;
    background-color: white;
    padding:5px;
    margin-top: 40px;
    box-shadow:10px 8px 10px rgb(189, 187, 187) ; 
}

#hotelbleublanc img {
    width:40%;
    height:100%;
    float: left;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-right: 10px;
}

#hotelbleublanc:hover {
    -webkit-transform:scale(1.08); /* Safari et Chrome */
    -moz-transform:scale(1.08); /* Firefox */
    -ms-transform:scale(1.08); /* Internet Explorer 9 */
    -o-transform:scale(1.08); /* Opera */
    transform:scale(1.08);
    transition: all .25s ease;
}

 /* Activités Marseille */ 

 #Second {
    width: 90%;
    margin:auto;
}

 #activites-marseille {
    padding:25px 0px 50px 20px;
    width: 100%;
    height: auto;
}

#activites-marseille h2{
    padding-bottom: 5px;
    padding-left: 15px;
    margin-top: 40px;
}

#activites-marseille h3 {
    padding-left: 20px;
    margin:0px;
}

#groupe-activites-marseille {
    width: 100%;
    display:flex; 
    
}

#PartieGauche {
    display:flex;
    width:50% ;
    margin-left: 15px;

}

#PartieDroite {
    display:flex;
    width: 50%;
    margin-left: 20px;
    
}

.column {
    display:flex;
    flex-direction: column;
}

.Activites-G {
    width:90%;
    height:400px;
    border-radius: 25px;
    background-color: white;
    padding-bottom: 5px;
    margin-right: 50px;
    box-shadow:10px 8px 10px rgb(189, 187, 187) ; 
}

.Activites-G img {
    width:100%;
    height:90%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding-bottom: 10px;
}

.Activites-G:hover {
    -webkit-transform:scale(1.08); /* Safari et Chrome */
    -moz-transform:scale(1.08); /* Firefox */
    -ms-transform:scale(1.08); /* Internet Explorer 9 */
    -o-transform:scale(1.08); /* Opera */
    transform:scale(1.08);
    transition: all .25s ease;
}

.Activites-M {
    width:90%;
    height:210px;
    border-radius: 25px;
    background-color: white;
    padding-bottom:5px;
    margin-top: 0px;
    box-shadow:10px 8px 10px rgb(189, 187, 187) ; 
}

.Activites-M img {
    width:100%;
    height:80%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding-bottom: 10px;
}

.Activites-M:hover {
    -webkit-transform:scale(1.08); /* Safari et Chrome */
    -moz-transform:scale(1.08); /* Firefox */
    -ms-transform:scale(1.08); /* Internet Explorer 9 */
    -o-transform:scale(1.08); /* Opera */
    transform:scale(1.08);
    transition: all .25s ease;
}

.Activites-P {
    width:90%;
    height:150px;
    border-radius: 25px;
    background-color: white;
    padding-bottom:5px;
    margin-top: 30px;
    box-shadow:10px 8px 10px rgb(189, 187, 187) ; 
}

.Activites-P img {
    width:100%;
    height:75%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding-bottom: 10px;
}

.Activites-P:hover {
    -webkit-transform:scale(1.08); /* Safari et Chrome */
    -moz-transform:scale(1.08); /* Firefox */
    -ms-transform:scale(1.08); /* Internet Explorer 9 */
    -o-transform:scale(1.08); /* Opera */
    transform:scale(1.08);
    transition: all .25s ease;
}


footer {
    width: 100%;
    max-height: 400px;
    background-color:#f2f2f2;
    padding-bottom: 30px;
    padding-top: 40px;
}

.containerfooter {
    width:90%;
    margin:auto; 
    display: flex;
    font-size: 1em;
}
footer h5 {
    font-size: 1em;
}

footer ul {
    padding:0;
}

footer ul li {
    list-style-type: none;
    margin-bottom: 1.2em;
    font-size: 1.1vw;
}

footer a {
    color:black;
}

.Apropos {
    margin-right: 13vw;
    margin-left: 3.5vw;
}

.Apropos a:hover {
    color: #0065FC;
}

.Noshebergements {
    margin-right: 13vw;
    margin-left: 3.5vw;
}

.Noshebergements a:hover {
    color: #0065FC;
}

.Assistance {
    margin-right: 13vw;
    margin-left: 3.5vw;
}

.Assistance a:hover {
    color: #0065FC;
}

/* Responsive design */

@media all and (max-width:1024px) {
    html {
        width:auto;
    }

    nav {
        width: auto;
        text-align: left;
    }

    section {
        flex-direction: column;
    }
    
    #hebergement-marseille {
        order:2;
        width: auto;
        padding-bottom: 25px;
    }

    #lespluspopulaires {
        order:1;
        width: auto;
    }

    #vignettes {
       
        width: auto;
    }
    #cannebiere #hotelport #hotelmouettes {
        display:flex;
        flex-direction:initial;
    }

}

@media all and (max-width:980px) {

    #cannebiere, #hotelport, #hotelmouettes, #hotelmer , #aubergepanier, #hotelamina {
        width: 200px;
        height: 180px;
    }
    
}

@media all and (max-width:500px) {
    #cannebiere, #hotelport, #hotelmouettes, #hotelmer , #aubergepanier, #hotelamina {
        width:100%;
        height: 220px;
        margin-bottom: 20px;
    }
}